/* * {
    border: blue 1px solid;
} */

.header {
    height: 68px;
    width: 100%;
}

.weather-card-placeholder {
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 4px;
    margin: 4px;
}

.prev-search {
    height: 64;
    width: 100%;
}

.previous-search {
    padding: 16px 8px 8px!important;
}

.previous-search .card-body {
    padding: 0!important;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #col-a {
        order: 2;
    }
    #col-b {
        order: 1;
    }
    .day-forcast {
        width: 90%;
        height: 220px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}