/* * {
    border: blue 1px solid;
} */


/* .header {
    height: 68px;
    width: 100%;
} */

.container {
    min-width: 320px;
    margin-top: 72px;
}

.previous-search {
    padding: 16px 8px 8px!important;
}

.previous-search .card-body {
    padding: 0!important;
}

.city-title {
    font-size: 5rem;
}

.day-forcast {
    width: 240px;
}

#city-header-ID {
    background-position: right top;
    background-repeat: no-repeat;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 575px) {
    #col-a {
        order: 2;
    }
    #col-b {
        order: 1;
    }
    .day-forcast {
        width: 90%;
        /* height: 220px; */
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        padding: 8px 16px 16px!important;
    }
    #city-header-ID {
        background-position: right top;
        background-repeat: no-repeat;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    #col-a {
        order: 1;
    }
    #col-b {
        order: 2;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #past-searches-menu-ID {
        display: none;
    }
    #city-header-ID {
        background-size: 10rem;
        /* background-position: center top; */
        background-repeat: no-repeat;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}